* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Righteous";
  src: url("./Righteous-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Geist";
  src: url("./Geist-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: "Geist";
  padding: 0;
  margin: 0;
  background-color: #191A1D;
  color: #f4f4f4;
}

a {
  text-decoration: none;
}