* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Righteous";
  src: url("./Righteous-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Geist";
  src: url("./Geist-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: "Geist";
  padding: 0;
  margin: 0;
  background-color: #191A1D;
  color: #f4f4f4;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.375rem;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: background-color 0.3s ease-in-out 0.1s,
    backdrop-filter 0.3s ease-in-out 0.1s,
    filter 0.3s ease-in-out 0.1s,
    border-bottom 0.3s ease-in-out 0.1s;
  ;
  border-bottom: 1px solid transparent;
}

.scrolled {
  background-color: #1e2129bd;
  backdrop-filter: blur(15px);
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
  border-bottom: 1px solid #333a4ac5;
}

.header .brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.header .brand .icon {
  height: 1.3rem;
}

.header .brand .name {
  font-family: "Righteous";
  font-size: 1.25rem;
  color: #f4f4f4;
}

.header .nav {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-right: 0.5rem;
}

.header .nav a {
  color: #f4f4f4;
  font-family: "Geist";
  font-weight: 500;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  width: 1378px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}


@media screen and (max-width:1400px) {
  .content {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width:600px) {
  .content {
    width: 100%;
    padding: 1.5rem;
    margin-top: 0.5rem;
  }

  input {
    width: 90%;
  }
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20rem;
  background: linear-gradient(to bottom, #1A2545, #191A1D);
  z-index: -2;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.hero-section .hero-text {
  font-family: "Righteous";
  font-size: 2.5rem;
  text-align: center;
}

.hero-section .hero-text span {
  background: linear-gradient(to right, #6abcff, #0070CC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero-section .action-button {
  background-color: #238BE1;
  border: 2px solid #3C92D8;
  color: #f4f4f4;
  font-family: "Geist";
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  margin-top: 2.5rem;
}

.dashboard-representation {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
  margin-right: 4rem;
}

@media screen and (max-width:768px) {
  .dashboard-representation {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width:768px) {
  .dashboard-representation {
    margin-top: 4rem;
  }
}

.dashboard-representation img {
  border: 1px solid #333A4A;
  width: 100%;
  border-radius: 0.5rem;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.53));
}

.dashboard-representation .subtext {
  margin-top: 1rem;
  font-weight: 500;
}

.feature-section {
  background-color: #141518;
  border: 1px solid #070707;
  border-radius: 1rem;
  margin: 4rem;
  padding: 4rem;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:768px) {
  .feature-section {
    margin-left: 0;
    margin-right: 0;
    padding: 2rem;
  }
}

.feature-section .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

@media screen and (max-width:1140px) {
  .feature-section .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.feature-section .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.feature-section .icon-container {
  border: 3px solid #f4f4f4;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  width: 4.5rem;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
}

.feature-section .title {
  font-family: "Righteous";
  font-size: 1.5rem;
}

.feature-section .subtext {
  color: #C3C3C3;
  margin-top: 0.5rem;
}

@media screen and (max-width:768px) {
  .feature-section .title {
    font-size: 1.25rem;
  }

  .feature-section .subtext {
    font-size: 0.9rem;
  }
}

.tech-stack-section {
  margin: 4rem;
  margin-top: 6rem;
}

@media screen and (max-width:768px) {
  .tech-stack-section {
    margin-left: 0;
    margin-right: 0;
  }
}

.tech-stack-section .title-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.tech-stack-section .line-1 {
  height: 2px;
  background: linear-gradient(to right, #191a1de0, #f4f4f4d2);
  flex: 1;
}


.tech-stack-section .line-2 {
  height: 2px;
  background: linear-gradient(to left, #191a1de0, #f4f4f4d2);
  flex: 1;
}

.tech-stack-section .title {
  font-size: 2rem;
  font-family: "Righteous";
}

.tech-stack-section .marquee-container {
  overflow: hidden;
  white-space: nowrap;
  margin-top: 2rem;
}

.tech-stack-section .marquee-container .marquee-content {
  display: inline-flex;
  gap: 1rem;
  animation: marquee-scroll 10s linear infinite;
}

.tech-stack-section .item {
  background-color: #141518;
  border: 1px solid #070707;
  font-weight: 500;
  padding: 0.5rem 1rem;
  width: 13ch;
  text-align: center;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.footer {
  font-family: "Righteous";
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2rem;
  color: #B8B8B8;
}

.footer a {
  color: #43aaff;
  margin: 0 4px;
}

.form-container {
  width: 450px;
  margin: 1rem;
  margin-bottom: 2rem;
  background-color: #1E2129;
  border: 1px solid #333A4A;
  border-radius: 1rem;
  padding: 2rem;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media screen and (max-width:550px) {
  .form-container {
    width: 85%;
  }
}

.form-container .title {
  font-family: "Righteous";
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #333A4A;
}

.form-container .form-name {
  font-family: "Righteous";
  font-size: 1.25rem;
  padding: 2rem 0;
}

.input-container {
  background-color: #252933;
  border: 1px solid #333A4A;
  padding: 0.375rem;
  border-radius: 0.75rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  transition: background-color 0.15s ease-in-out;
}

.input-container:focus-within {
  background-color: #2d3341;
}

input {
  flex: 1;
  border-radius: 0.45rem;
  outline: none;
  background-color: #1C1F27;
  border: none;
  padding: 0.35rem 1rem;
  color: #f5f5f5;
  font-size: 1.08rem;
  font-family: "Geist";
}

.form-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.submit-button {
  background-color: #238BE1;
  border: 1px solid #3C92D8;
  border-radius: 0.75rem !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  padding: 0.6rem 1.25rem !important;
  margin-top: 0.8rem !important;
  width: 100%;
  text-align: center;
}

.bottom-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding-top: 1.5rem;
  border-top: 1px solid #333A4A;
}

.bottom-section div {
  color: #B8B8B8;
  font-weight: 500;
}

.bottom-section a {
  color: #43aaff;
}


@media screen and (max-width:600px) {
  input {
    width: 90%;
  }
}

.errors-container {
  background-color: #713535b6;
  border: 1px solid #a143438b;
  border-radius: 0.5rem;
  padding: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

.errors-container .error-title {
  font-family: "Geist";
  font-weight: 500;
}

.errors-container ul {
  font-family: "Geist";
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.banner .greeting .text {
  font-family: "Righteous";
  font-size: 2rem;
}

.banner .greeting .subtext {
  font-size: 1.125rem;
  font-weight: 600;
  color: #B8B8B8;
  margin-top: 0.5rem;
  line-height: 1.5rem;
}

.banner .metrics {
  background-color: #1E2129;
  border: 1px solid #333a4A;
  display: flex;
  padding: 0.75rem 0;
  flex-direction: row;
  border-radius: 0.5rem;
}

.banner .metric {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.05rem;
}

.banner .metrics-title {
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
}

.banner .metrics .value {
  font-size: 1.5rem;
  color: #B8B8B8;
  font-weight: bold;
}

.banner .metrics .unit {
  font-size: 0.9rem;
}

.banner .metrics .line {
  background-color: #333A4A;
  width: 1px;
}

@media screen and (max-width:800px) {
  .banner .greeting {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .banner .metrics .title {
    font-size: 0.8rem;
  }

  .banner .metrics .value {
    font-size: 1.25rem;
  }

  .banner {
    flex-direction: column;
    gap: 3rem;
    width: 100%;
  }

  .banner .greeting {
    text-align: center;
  }

  .banner .metrics {
    width: 100%;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width:500px) {
  .banner .files {
    display: none;
  }

  .banner .metrics {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}