* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Righteous";
  src: url("./Righteous-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Geist";
  src: url("./Geist-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: "Geist";
  padding: 0;
  margin: 0;
  background-color: #191A1D;
  color: #f4f4f4;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.375rem;
  align-items: center;
}

.header .brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.header .brand .icon {
  height: 1.3rem;
}

.header .brand .name {
  font-family: "Righteous";
  font-size: 1.25rem;
}

.header .nav {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-right: 0.5rem;
}

.header .nav a {
  color: #f4f4f4;
  font-family: "Geist";
  font-weight: 500;
}